.textoencima {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 20px;
}